<div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
              <button [routerLink]="['/AddStudent']" type="button" class="btn btn-primary btn-lg btn-block">Add Student</button>
              <button [routerLink]="['/Pairing']" type="button" class="btn btn-secondary btn-lg btn-block">Pairing</button>       
              <button [routerLink]="['/History']" type="button" class="btn btn-secondary btn-lg btn-block">History</button>
          </div>
        </div>
      </div>
    </div>
</div>
